doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=3")
    title= 'Dashboard'
  body
    <input type="checkbox" id="nav-toggle" hidden>
    include ./components/menu
    .mask-content
    .container 
      block content